<div class="partial">
<ul>
  <li><%= link_to 'アカウント', new_user_password_path(current_user.id),:class=>"side-contents" %></li>
  <li><%= link_to 'プロフィール', edit_user_registration_path,:class=>"side-contents" %></li>
</ul>
</div>